@import '../../styles/contants.scss';

.wrapper {
    overflow: hidden;


    .container {
        position: relative;
        z-index: 1;

        .upperElements {
            @media (max-width: $sm) {
                justify-content: center;
                text-align: center;
                gap: 2rem;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .lowerElements {
            @media (max-width: $sm), (max-width: $md) {
                margin-top: 4rem;
                gap: 2rem;
                justify-content: center;
            }
            margin-top: 12rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .experience {
                display: flex;
                align-items: center;
                gap: 1rem;
                >:nth-child(2) {
                    line-height: 25px;
                }
            }

            .certificate {
                text-align: left;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                border: 2px solid $secondary;
                border-radius: 20px;
                padding: 0.90rem;
                font-size: 16px;
                transition: all 200ms ease-out;

                img {
                    margin-bottom: 1rem;
                    width: 3.5rem;
                }
            }
        }

        .person {
            @media (max-width: $sm ), (max-width: $md) {
                position: relative;
                left: 0;
                background-size: 20rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-position: bottom;
            }
            position: absolute;
            bottom: -2rem;
            margin: auto;
            background-repeat: no-repeat;
            background-size: 23rem;
            left: 33%;

            img {
                @media (max-width: $sm ) {
                    width: 13rem;
                }
                margin-bottom: -5px;
            }
        }

        .resume {
            right: 40%;
            padding: 0% 40%;
            color: black;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            transition-duration: 0.2s;
            font-family: 'Cursive';
            border: 2px solid $secondary;
            border-radius: 20px;
            padding: 0.80rem;
            transition: all 200ms ease-out;
        }

                .resume:hover {
                    background-color: $secondary;
                    color: white;
                    font-family: 'Cursive';
                    border: 2px solid $secondary;
                    padding: 0.80rem;
                    transition: all 200ms ease-out;
                }

        .email {
            @media (max-width: $sm ),
                (max-width: $md) {
                    position: relative;
                    left: 0;
                    color: red;
                    background-size: 20rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-position: bottom;
                    width: auto;
                }
            position: absolute;
            top: 35%;
            left: 0;
            color: red;
            padding: 15px 42px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            transition-duration: 0.4s;
            border: 2px solid;
            border-radius: 20px;
            padding: 0.80rem;
            transition: all 200ms ease-out;
            width: 100px;
        }

            .email:hover {
                background-color: rgb(246, 42, 42);
                color: white;
            }

        .linkedin {
                @media (max-width: $sm ),
                    (max-width: $md) {
                        position: relative;
                        left: 0;
                        color: blue;
                        background-size: 20rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-position: bottom;
                        width: auto;
                    }
            position: absolute;
            top: 46%;
            left: 0;
            color: blue;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            transition-duration: 0.4s;
            border: 2px solid;
            border-radius: 20px;
            padding: 0.80rem;
            transition: all 200ms ease-out;
            width: 100px;
        }

                .linkedin:hover {
                    background-color: blue;
                    color: white;
                }

        .github {
            @media (max-width: $sm ),
                (max-width: $md) {
                    position: relative;
                    left: 0;
                    color: black;
                    background-size: 20rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-position: bottom;
                    width: auto;
                }
            position: absolute;
            top: 57%;
            padding: 15px 37px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            transition-duration: 0.4s;
            border: 2px solid;
            border-radius: 20px;
            padding: 0.80rem;
            transition: all 200ms ease-out;
            width: 100px;
        }
                .github:hover {
                    background-color: black;
                    color: white;
                }
    }
}